<footer class="page-footer grey darken-4">
    <div class="footer-copyright">
      <div class="container">
        <p class="center">
          © 2019 Copyright <a href="https://github.com/allythy" target="blank">Allythy</a>
        </p>
      </div>
    </div>
</footer>


<!-- Scripts -->
 <script src="./static/js/jquery.min.js"></script>
 <script src="./static/js/materialize.min.js"></script>
 <script src="./static/js/init.js"></script>
